@font-face{
  font-family: QS;
  src: url('../static/font/Quicksand-Medium.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: QS;
}
li,a{
  list-style: none;
  text-decoration: none;
  display: inline-block;
}
body{
  background-color: whitesmoke;
}
header{
  background-color: #DAF7A6;
  position: sticky;
  top: 0;
  z-index: 1000;
  .header-inner{
    width: 90%;
    margin: auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    &-left{
      .logo{
        color: #333;
      }
    }
    &-right{
      display: flex;
      align-items: center;
      .winners{
        margin: 0 30px;
      }
      .winners, .types, .news, .upcoming{
        cursor: pointer;
        a, span{
          color: #000;
          font-size: 20px;
        }
      }
      .upcom-down{
        display: flex;
        align-items: center;
        .arr-down{
          margin-left: 10px;
          padding-top: 2px;
          transition: .3s;
        }
      }
      .types{
        position: relative;
        margin-right: 30px;
        .types-down{
          display: flex;
          align-items: center;
          .arr-down{
            margin-left: 10px;
            padding-top: 2px;
            transition: .3s;
          }
        }
        .arrRot{
          transform: rotate(180deg);
          transition: .3s;
        }
        .lott-types-box{
          position: absolute;
          background-color: white;
          top: 50px;
          right: 0;
          min-width: 300px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          height: 0;
          overflow: hidden;
          visibility: hidden;
          transition: .3s;
          &-inner{
            height: 100%;
            overflow-y: scroll;
            /* width */
            &::-webkit-scrollbar {
              width: 5px;
            }

            /* Track */
            &::-webkit-scrollbar-track {
              background: #ffffff00; 
            }
            
            /* Handle */
            &::-webkit-scrollbar-thumb {
              background: #DAF7A6;
            }

            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
              background: #555; 
            }
            a{
              margin: 25px 0;
              display: flex;
              align-items: center;
              .lott-logo{
                height: 50px;
                width: 100px;
                object-fit: contain;
              }
            }
          }
        }
        .down-box-vis{
          height: 320px;
          visibility: visible;
          transition: .3s;
        }
      }
    }
  }
}

.upcoming{
  position: relative;
  .arrRot{
    transform: rotate(180deg);
    transition: .3s;
  }
  .upcom-cards{
    background-color: white;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 50px;
    min-width: 260px;
    padding: 4px;
    height:0;
    overflow-y: scroll;
    transition: .3s;
    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #ffffff00; 
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #DAF7A6;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    .upcom-card{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      .jackpot{
        margin: 10px 0;
      }
      .line{
        width: 30%;
        margin: auto;
        height: 1px;
        background-color: #999;
        margin-top: 10px;
      }
      .time{
        font-size: 17px;
      }
      .jkval{
        margin: 10px 0;
        font-size: 30px;
        font-weight: bold;
        color: #758f44;
      }
    }
  }
  .upcom-cards-vis{
    visibility: visible !important;
    height: 500px;
    transition: .3s;
  }
}






.lottery-results{
  margin-top: 50px;
  &-inner{
    width: 80%;
    margin: auto;
    padding: 0 15px;
    &-headline{
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      h1{
        margin: 0 15px;
      }
    }
    &-cards{
      .lottery-result-card{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 100%;
        display: flex;
        border-radius: 10px;
        margin-top: 50px;
        &__lottery-type{
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 20px;
          width: 20%;
          background-color: rgb(240, 255, 211);
          .lottery-name{
            span{
              font-size: 20px;
            }
          }
          .lottery-logo{
            margin-top: 15px;
            img{
              height: 140px;
            }
          }
        }
        .lottery-result-card-last3daysResults{
          padding: 0 15px;
          width: 80%;
          .winner-tickets{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 15px;
          }
          .winner-tkt{
            width: 30%;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            padding:15px 10px;
            height: fit-content;
            border-radius: 5px;
            &-in{
              .game-time{
                width: 100%;
                text-align: center;
              }
              .power-play{
                width: 100%;
                text-align: center;
              }
              width: 100%;
              .winner-letters{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 15px 0;
                & :last-child{
                  background-color: yellowgreen;
                }
                span{
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  background-color: #ccc;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
              }
            }
          }
          .card-activities{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 30px 0;
            .past-drw{
              margin-right: 30px;
              button{
                border: none;
                background-color: #ccc;
                padding:5px 10px;
                font-size: 15px;
                color: #000;
                cursor: pointer;
              }
            }
            .more-winners{
              a{
                color: #111;
              }
            }
          }
        }
      }
    }
  }
}



.rules{
  margin: 100px 0;
  &-inner{
    width: 80%;
    margin: auto;
    padding: 0 15px;
    &-headline{
      h3{
        font-size: 25px;
      }
    }
    .rules-body{
      p{
        margin-top: 20px;
        text-align: justify;
        line-height: 1.5;
        font-size: 20px;
      }
    }
  }
}
.upcoming{
  margin-right: 30px;
}

.winners-carousell{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  &-inner{
    width: 80%;
    margin: auto;
    padding: 15px;
    .winners-headline{
      width: 100%;
      padding: 30px 0;
      text-align: center;
    }
    .carousel{
      .winner{
        margin: 0 5px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        img{
          width: 100%;
        }
      }
    }
    .all-winners{
      width: 100%;
      text-align: center;
      a{
        padding: 10px 30px;
        background-color: #DAF7A6;
        color: #000;
      }
    }
  }
}

footer{
  background-color: #DAF7A6;
  margin-top: 100px;
  .footer-inner{
    display: flex;
    width: 80%;
    margin: auto;
    padding: 15px;
    justify-content: space-between;
    .footer-box{
      display: flex;
      flex-direction: column;
      a{
        color: #222;
      }
      .footer-logo{
        display: flex;
        align-items: center;
        .letter{
          min-width: 40px;
          height: 40px;
          background-color: #111;
          color: white;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 3px;
        }
      }
      span{
        font-size: 20px;
        margin-top: 10px;
      }
      a{
        margin-top: 15px;
        small{
          font-size: 18px;
        }
      }
    }
  }
}
.diffForArgen{
  width: 49% !important;
}
.argent-type{
  width: 90% !important;
}
.argentinian-type{
.winner-letters :last-child{
    background-color:#d7d7d700 !important;
    padding: 0;
  }
  .winner-letters{
    display: flex;
    flex-direction: column;
    .letters-line{
      display: flex;
      li{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        background-color: #ebebeb !important;
        small{
          font-size: 18px;
          padding: 5px;
        }
        span{
          border-radius: 4px !important;
          width: 14px !important;
          height: 14px !important;
          // background-color: #b5d37c !important;
          font-size: 12px;
        }
      }
    }
  }
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 10px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #DAF7A6;
}
.lottery-types-tabs{
  padding-top: 30px;
}
.gifts{
  &-inner{
    width: 80%;
    margin: auto;
    padding: 15px;
    .gifts-table{
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      th{
        background-color: rgb(66, 66, 66);
        color: #fff;
      }
      td, th {
        text-align: left;
        padding: 8px;
      }
      td{
        border: 1px solid rgb(226, 226, 226);
      }
      tr:nth-child(even) {
        background-color: rgb(237, 255, 201);
      }
      td{
        .balls{
          display: flex;
          align-items: center;
          .ball{
            min-width: 35px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: #999;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 5px;
          }
          span{
            margin-left: 5px;
          }
          .bonus{
            background-color: rgb(125, 149, 75);
            color: whitesmoke;
            font-size: 13px;
          }
        }
      }
    }
  }
}


.comming-soon-game{
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: 70px 0;
  padding: 30px 0;
  &-inner{
    max-width: 400px;
    margin: auto;
    text-align: center;
    .time{
      font-size: 22px;
    }
    .line{
      width: 100px;
      height: 1px;
      background-color: #999;
      margin: 20px auto;
    }
    .jkval{
      font-size: 40px;
      margin: 15px 0;
      color: #758f44;
    }
  }
}
#countdown{
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#countdown ul{
  display: flex;
}
#countdown ul li{
  display: flex;
  flex-direction: column;
  font-size: 50px;
  color: #758f44;
  font-weight: bolder;
  margin: 0 15px;
  align-items: center;
}

#countdown ul li small{
  font-size: 25px;
}

.instructions{
  &-inner{
    width: 80%;
    margin: auto;
    padding: 15px;
    .instr-line{
      margin-top: 20px;
      padding: 15px;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      h3{
        color: #758f44;
      }
      p{
        margin-top: 15px;
      }
    }
  }
}

.winners-headline{
  width: 80%;
  margin: auto;
  padding: 15px;
  text-align: center;
}
.winners-gallery{
  &-inner{
    width: 90%;
    margin: auto;
  }
}
.winner-info{
  position: absolute;
  top: 1vh;
  left: 1vh;
  width: fit-content;
  height: fit-content;
  .money{
    color: rgb(255, 255, 255);
  }
  .winner-name{
    font-size: 20px;
    margin: 15px 0;
    color: white;
  }
  .winned-tm{
    color: yellowgreen;
  }
}
.gallery-line{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  margin-top: 10px;
  .big{
    width: 50%;
    height: 100%;
    li{
      height: 100%;
      position: relative;
      background-color: black;
      border-radius: 10px;
      a{
        height: 100%;
        background-color: black;
        border-radius: 10px;
        img{
          width: 100% !important;
          height: 100%;
          object-fit: cover;
          border-radius: 15px;
          opacity: .6;
        }
      }
    }
  }
  .middle{
    width: 30%;
    height: 100%;
    li{
      height: 100%;
      position: relative;
      background-color: black;
      border-radius: 10px;
      a{
        height: 100%;
        background-color: black;
        border-radius: 10px;
        img{
          width: 100% !important;
          height: 100% !important;
          object-fit: cover;
          border-radius: 15px;
          opacity: .6;
        }
      }
    }
  }
  .col{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20%;
    li{
      height: 195px;
      position: relative;
      border-radius: 10px;
      a{
        height: 100%;
        background-color: black;
        border-radius: 10px;
        img{
          width: 100% !important;
          height: 100% !important;
          object-fit: cover;
          border-radius: 15px;
          opacity: .6;
        }
      }
    }
  }
}
.pagin{
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 15px;
}
.pagination {
  display: flex;
  padding: 1rem;
  background-color: #f5f5f5;
  width: fit-content;
  border-radius: 0.25rem;
  width: fit-content;
  margin: auto;
}

.crumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 0.5rem;
}

.crumb {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: currentColor;
  border-radius: 0.2rem;
  border: 0.0625rem solid #d7d7d7; /* 1px */
}

.crumb:hover, .crumb__active {
  background-color: #758f44;
  color: #fdfdfd;
}

.crumb__prev { margin-right: 0.5rem; cursor: w-resize; }
.crumb__next { margin-left: 0.5rem; cursor: e-resize; }

.news{
  &-inner{
    width: 80%;
    margin: auto;
    padding: 15px;
    .news-inner-headline{
      width: 100%;
      text-align: center;
      margin: 30px 0;
    }
    .news-body{
      .news-card{
        margin-top: 30px;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        .news-cover{
          width: 30%;
          img{
            width: 100%;
          }
        }
        .news-info{
          h3{
            font-size: 23px;
          }
          p{
            text-align: justify;
            line-height: 1.5;
            font-size: 19px;
            margin: 15px 0;
            color: #555;
          }
          width: 69%;
          .cont-read{
            color: #000000;
          }
        }
      }
    }
  }
}

.news-cols{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1.7rem;
  a{
    width: 100%;
  }
  .news-card{
    flex-direction: column;
    .news-cover{
      width: 100% !important;
      img{
        width: 100%;
      }
    }
  }
  .news-info{
    h3{
      font-size: 23px;
      margin-top: 15px;
      color: #222;
    }
    p{
      text-align: justify;
      line-height: 1.5;
      font-size: 19px;
      margin: 15px 0;
      color: #555;
    }
    width: 100% !important;
    .cont-read{
      color: #000000;
      width: 100%;
      margin: auto;
      text-align: center;
    }
  }
}

.article{
  margin-bottom: 100px;
  p{
    font-size: 20px;
    line-height: 1.5;
    margin-top: 20px;
  }
}
.right{
  float: right !important;
}
.hero{
  width: 350px;
  height: 300px;
  float: left;
  padding: 15px;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.related-headline{
  border-top: 1px solid #999;
  padding-top: 20px;
  h3{
    font-size: 22px;
  }
}
.results-pop{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.171);
  z-index: 1100;
  display: none;
  &-inner{
    position: absolute;
    width: 50%;
    height: 600px;
    background-color: #DAF7A6;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    &-header{
      width: 100%;
      margin: auto;
      padding: 15px;
      .dateselects{
        display: flex;
        width: 100%;
        display: flex;
        // align-items: center;
        justify-content: center;
        .start, .end{
          display: flex;
          flex-direction: column;
        }
        .end{
          margin: 0 30px;
        }
        label{
          position: relative;
          bottom: 5px;
        }
        input{
          height: 40px;
          border: 1px solid #758f44;
          font-size: 19px;
          padding: 3px 10px;
        }
        button{
          height: 40px;
          margin-top: 20px;
          padding: 0 15px;
          cursor: pointer;
          background-color: #000000;
          color: rgb(255, 255, 255);
          border: none;
        }
      }
    }
    .result-body{
      position: absolute;
      bottom: 0;
      top: 100px;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
      overflow-y: auto;
      /* width */
      &::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: #f1f1f100; 
      }
      
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgb(32, 32, 32); 
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
      table {
        border-collapse: collapse;
        width: 100%;
        margin: auto;
      }
      
      td, th {
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #758f44;
        color: white;
      }
    }
  }
}
.results-pop-visible{
  display: block;
}
footer {
  background-color: #DAF7A6;
  color: rgb(0, 0, 0);
  padding: 40px 0;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 767px) {
  footer {
      padding: 40px 20px;
  }
}
footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  width: 80%;
  position: relative;
}
@media only screen and (max-width: 767px) {
  footer .footer-wrapper {
      flex-direction: column;
      flex-flow: row wrap;
  }
}
#block-footermoremenu ul{
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
#block-footergamesmenu ul{
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}
footer .footer-wrapper > div:nth-child(1) #block-sitebranding,
footer .footer-wrapper > div:nth-child(2) #block-sitebranding {
  margin-bottom: 80px;
}
footer .footer-wrapper > div:nth-child(1) #block-sitebranding img,
footer .footer-wrapper > div:nth-child(2) #block-sitebranding img {
  height: 50px;
}
footer .footer-wrapper > div:nth-child(1) #block-sitebranding .back-home,
footer .footer-wrapper > div:nth-child(2) #block-sitebranding .back-home {
  display: none;
}
footer .footer-wrapper > div:nth-child(1) p,
footer .footer-wrapper > div:nth-child(2) p {
  margin: 0;
  line-height: 20px;
  font-size: 12px;
}
footer .footer-wrapper > div.footer_column_1 {
  width: 444px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  footer .footer-wrapper > div.footer_column_1 {
      width: 244px;
  }
}
@media only screen and (max-width: 767px) {
  footer .footer-wrapper > div.footer_column_1 {
      width: auto;
      display: flex;
      order: 1;
      justify-content: center;
      height: 90px;
  }
}
footer .footer-wrapper > div.footer_column_2 {
  position: absolute;
  left: 0;
  bottom: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  footer .footer-wrapper > div.footer_column_2 {
      width: 266px;
  }
}
@media only screen and (max-width: 767px) {
  footer .footer-wrapper > div.footer_column_2 {
      position: static;
      padding-top: 30px;
  }
}
footer .footer-wrapper > div:nth-child(3),
footer .footer-wrapper > div:nth-child(4) {
  margin-left: 80px;
  margin-right: 80px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  footer .footer-wrapper > div:nth-child(3),
  footer .footer-wrapper > div:nth-child(4) {
      margin-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  footer .footer-wrapper > div:nth-child(3),
  footer .footer-wrapper > div:nth-child(4) {
      margin: 0;
      flex-wrap: wrap;
      flex-direction: column;
      width: 50%;
  }
}
footer .footer-wrapper > div:nth-child(3) ul,
footer .footer-wrapper > div:nth-child(4) ul {
  margin-top: 10px;
}
footer .footer-wrapper > div:nth-child(3) a,
footer .footer-wrapper > div:nth-child(3) a:link,
footer .footer-wrapper > div:nth-child(3) a:visited,
footer .footer-wrapper > div:nth-child(4) a,
footer .footer-wrapper > div:nth-child(4) a:link,
footer .footer-wrapper > div:nth-child(4) a:visited {
  color: #838383;
}
footer .footer-wrapper > div:nth-child(3) a:hover,
footer .footer-wrapper > div:nth-child(3) a:active,
footer .footer-wrapper > div:nth-child(4) a:hover,
footer .footer-wrapper > div:nth-child(4) a:active {
  color: #dddee0;
}
footer .footer-wrapper > div:nth-child(3) h2,
footer .footer-wrapper > div:nth-child(4) h2 {
  text-transform: uppercase;
  font-size: 14px;
}
footer .footer-wrapper > div:nth-child(3) .language-switcher-language-url .links,
footer .footer-wrapper > div:nth-child(4) .language-switcher-language-url .links {
  margin: 0;
}
footer .footer-wrapper > div:nth-child(3) .language-switcher-language-url a:link,
footer .footer-wrapper > div:nth-child(3) .language-switcher-language-url a:visited,
footer .footer-wrapper > div:nth-child(4) .language-switcher-language-url a:link,
footer .footer-wrapper > div:nth-child(4) .language-switcher-language-url a:visited {
  color: #f4f2f1;
}
footer .footer-wrapper > div:nth-child(3) .language-switcher-language-url .is-active,
footer .footer-wrapper > div:nth-child(4) .language-switcher-language-url .is-active {
  display: none;
}
@media only screen and (max-width: 767px) {
  footer .footer-wrapper > div:nth-child(2) {
      order: 4;
  }
  footer .footer-wrapper > div:nth-child(3) {
      order: 2;
  }
  footer .footer-wrapper > div:nth-child(4) {
      order: 3;
  }
}


.justselect-body-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 1; }

.justselect {
  display: none; }

.justselect-wrapper {
  position: relative;
  // width: 200px; 
}

.justselect-title {
  background: rgba(255, 255, 255, 0);
  border: 1px solid #000000;
  text-align: left;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  outline: none;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px);
  background-size: 10px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-size: 14px; }

.justselect-list {
  position: absolute;
  left: 0;
  top: 40px;
  width: 100%;
  list-style: none;
  padding: 0;
  border: 1px solid #1f1f1f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shdow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  display: none;
  z-index: 1;
  overflow: hidden;
  margin: 0;
  font-size: 14px; 
  // display: flex;
  flex-direction: column;
}
  .justselect-list li {
    line-height: 40px;
    cursor: pointer;
    text-align: left;
    padding: 0 15px;
    background-color: #b5d37c;
    color: rgb(0, 0, 0);
  }
    .justselect-list li.selected {
      background: #ebebeb; }
  .justselect-list.active {
    display: block; }
